NEXT_PUBLIC_SUPABASE_URL=https://kdorhvlkbjwmjuglflfx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtkb3JodmxrYmp3bWp1Z2xmbGZ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzOTc5NTAsImV4cCI6MjA5MDk3Mzk1MH0.A2afUTMY8T84vrtBKzsNozWRYhnkdDSa4fDQfpZK5Sc
